* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header {
    width: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;

}

.conteiner {
    width: 84.6%;
    margin: 0 auto;
}

header > .navbar {
    display: flex;
    justify-content: space-between;
    padding: 9px 105px 9px 104px;
    background-color: #313131;
}

.nav_left {
    padding-top: 4px;
}

.list, .nav_right {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.nav_right  a {
    vertical-align: middle;
}
.nav_right img {
    vertical-align: middle;
}

.tel > a {
    margin-left: 10px;
}

.second-bar {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    padding: 20px 0;
}

.second-bar > .delivery {
    display: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.second-bar > .logo, .search, .links, .hamburger-menu, img {
    vertical-align: middle;
}

.logo > img {
    cursor: pointer;
}

.logo, .hamburger-menu {
    padding-top: 12px;
}

.search {
    width: 100%;
    position: relative;
    margin-left: 10px;
}

.search::before {
    position: absolute;
    top: 17px;
    left: 15px;
    content: '';
    width: 16px;
    height: 16px;
    z-index: 1;
    background-image: url(./images/icons/search-icon.png);
}

.search > input {
    position: relative;
    width: inherit;
    padding: 12px 49px;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    outline: none;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 14px;
    padding-left: 8px;
}

.bag-after {
    position: relative;
}

.bag-after::before {
    position: absolute;
    top: 1px;
    left: 11px;
    content:'';
    width: 8px;
    height: 8px;        
    background-color: #D74444;
    border-radius: 50px;
}

.sub-bar  {
    padding: 25px 33px 24px 41px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.wrapper_items, .stock-link {
    cursor: pointer;
}

.wrapper_items > a, img {
    vertical-align: middle;
}

.wrapper_items > img {
    margin-right: 5px;
}

.wrapper_items > a {
    font-size: 16px;
    color: #414141;
}

.stock-link{
    font-size: 16px;
    color: #D74444 !important; 
}

.stock-link:hover {
    color: #D74444;
}

.dot {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 17px;
    padding-top: 2px;
    padding-right: 1px;
    cursor: pointer;
}

.dot > span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
}

.header-bottom {
    padding-top: 20px;
}

.carousel-item > img {
    width: 100%;
}

.carousel {
    position: relative;
}

.carousel-control-prev, .carousel-control-next {
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: #414141;
}

.carousel-control-prev {
    position: absolute;
    top: 221px;
    left: 45px;
    background: rgba(157, 157, 157, 0.28);
}

.carousel-control-next {
    position: absolute;
    top: 221px;
    right: 45px;
    background: #FFFFFF;
}

.carousel-control-next::after {
    content: '>';
    font-size: 16px;
    color: #000000;
}

.carousel-control-prev::before {
    content: '<';
    font-size: 16px;
    color:#FFFFFF;
}

.carousel-caption {
    padding: 100px 0px 131px 0;
}

.carousel-caption {
    text-align: left;
}

.carousel-caption > h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 50px;
    color: #3C3C3C;
    line-height: 105.3%;
    text-transform: uppercase;
}

.carousel-caption > p {
    margin: 15px 0 20px 0;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 140.8%;
    letter-spacing: 0.02em;
    color: #343434;
}

.carousel-caption > .tablet-text {
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.carousel-caption > button {
    padding: 14px 25px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140.8%;
    border: none;
    outline: none;
    color: #414141;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.mobile-block {
    display: none;
}

/* Header Styles End */

/* Main Styles Start */


.main-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
}

.main_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.main-wrapper > .main-top-text {
    display: block;
    margin-bottom: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
}

.content-wrapper {
    display: inline-block;
    width: 100%;
    padding: 20px;
    transition: .2s all ease-in;
    cursor: pointer;
}

.content-wrapper:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
} 

 .content-wrapper:hover 
.size-wrapper-block {
    opacity: 1;
} 

.content-wrapper:hover  
.size-text {
    opacity: 1;
}

.content-wrapper:hover 
.content_btn {
    opacity: 1;
} 

.product-hearth {
    display: flex;
    justify-content: end;
    margin-bottom: 38px;
}


.content-top {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
}

.content_img {
    width: 200px;
    height: 150px;
}

.product-name, .product-type, .product-price, .size-text {
    display: block;
}

.content-bottom > .product-name {
    margin-bottom: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
}

.content-bottom > .product-type {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #414141;
}

.content-bottom > .product-price {      
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
}

.content-bottom > .size-text { 
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #414141;
    opacity: 0;
}

.size-wrapper-block {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    margin-bottom: 17px;
    opacity: 0;
}

.size-wrapper-block > .width-block, .depth-block, .height-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}

.width-text, .depth-text, .height-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #C4C4C4;
}

.width-number, .depth-number, .height-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #414141;
}

.size-wrapper-block > .x {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #414141;
}

.content_btn { 
    width: 100%;
    padding: 13px 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    border: none;
    color: #FFFFFF;
    background-color: #245462;
    opacity: 0;
}

/* Main Styles End */

/* Footer Styles Start */

.footer {
    padding: 50px 0 32px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.footer-top-left {
    width: 33.8%;    
    display: flex;
    justify-content: space-between;
    gap: 39px;
}

.footer-navigation { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 126.69%;
    text-align: right;
    color: #000000;

}

.footer-top-left_items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 7px;
}

.footer-items_links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #414141;
}

.pdt {
    padding-top: 31px;
}

.footer-top-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;
    gap: 20px;
}

.footer-top-right_logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 49px;
    color: #000000;
    cursor: pointer;
}

.address {
    margin: 0 !important;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left {
    width: 11.4%;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-right {
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.social-links > img {
    margin-right: 5px;
} 


@media screen and (max-width:768px) {

    .conteiner {
        width: 768px;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    header > .navbar {
        background-color: white;
    }

    .nav_left {
        position: absolute;    
        top: 80px;
        left: -100%;
        width: 50%;
        z-index: 2;
        background-color: #FFFFFF;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        transition: 0.3s;
    }
    
    .nav_left > .list {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }

    .nav_left.active {
        left: 0;
    }

    .list  a {
        color: #000;
        font-size: 12px;
    }

    .list > li {
        cursor: pointer;
        padding: 20px 0;
    }

    .list > li:hover {
        cursor: pointer;
        background-color: rgb(219, 218, 218);
        
    }

    header 
    .nav-right, 
    .tel, 
    .delivery, 
    .tablet, 
    .size-wrapper-block, 
    .size-text,
    .content_btn {
        display: none;
    }
    
    .second-bar {
        padding-top: 11px;
    }
    
    .second-bar > .delivery {
        display: block;
        padding-top: 15px;
    }
    
    .delivery > a {
        font-size: 12px;
        color: #414141;
    }

    .search {
        padding-top: 10px;
    }
    
    .search > input {
        width: 243px;
        padding: 6px 39px;
    }

    .sub-bar {
        padding: 69px 15px 24px 28px;
    }

    .wrapper {
        gap: 31px
    }
    
    .wrapper_items > a {
        font-size: 14px;
    }
    
    .carousel-caption {
        padding: 71px 0 66px 0;
    }

    .desktop-text {
        display: none;
    }
    
    .carousel-caption > .tablet-text {
        display: block;
    }

    .carousel-caption > button {
        padding: 10px 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
    
    .carousel-control-prev {
        position: absolute;
        top: 241px;
        left: 632px;    
        background: rgba(63, 63, 63, 0.28);
    }
    
    .carousel-control-next {
        top: 241px;
        right: 25px;
    }
    
    /* Header Styles End */

    /* Main Styles Start */

    .main_section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .content-wrapper:hover {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: 1;
        box-shadow: none;
    }

    .content-bottom > .product-name {
        font-size: 14px;
        line-height: 16px;
    }
    
    .content-bottom > .product-price {      
        font-size: 14px;
        line-height: 16px;
    }
    
    .content_img {
        width: 160px;
        height: 120px;
    }

    .footer-top-left {
        width: 52%;
    }

    .footer-bottom-left {
        width: 17%;
    }

    .footer-bottom-right {
        width: 68%;
    }    
}

@media screen and (max-width:320px) {
    
    .conteiner {
        width: 320px;
        margin: 0;
        padding: 0;
    }

    .second-bar {
        position: relative;
        width: 100%;
        padding: 0 12px;
    }

    .links {
        position: absolute;
        top: 12px;
        right: 13px;
        gap: 20px;
        padding: 0;
    }

    .hamburger-menu,.logo,.second-bar  {
        display: inline-block;
    }
    
    .hamburger-menu {
        margin-right: 18px;
    }
    
    .logo > img {
        width: 100px;
    }

    .search  {
        margin-left: 0;
    }

    .search > input {
        width: 100%;
        margin-top: 16px;
    }

    .search::before {
        position: absolute;
        top: 36px;
        left: 15px;
        content: '';
        width: 16px;
        height: 16px;
        z-index: 1;
        background-image: url(./images/icons/search-icon.png);
    }
    
    .second-bar {
        padding-top: 0;
    }

    .second-bar > .delivery {
        display: none;
    }
    
    .wrapper {
        gap: 15px;
    }

    .sub-bar {
        padding: 20px 12px 23px 12px;
    }

    .mobile {
        display: none;
    }

    .wrapper_items {
        text-align: center;
    }
    
    .wrapper_items > img {
        margin: 0 0 21px 0;
    }

    .carousel {
        display: none;
    }
    
    .mobile-block {
        display: flex; 
        justify-content: space-between;
        width: 320px;
    }
    
    .left-block {
        width: 50%;
        padding: 32px 12px;
    }

    .left-block > h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 102.8%;
    }
    
    .left-block > p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 103.3%;
    }
    
    .right-block {
        width: 50%;
    }
    
    .right-block > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 98% 100%;
    }

    /* Header Styles End */
    
    /* Main Styles Start */
    
    .main-wrapper {
        padding: 20px 12px 23px 12px;
    }
    
    .main-wrapper > .main-top-text {
        font-weight: 500;
    }

    .main_section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .content_img {
        width: 94.94px;
        height: 71.21px;
    }
    
    .content-bottom >
    .product-name,
    .product-price {
        font-size: 13px;
        line-height: 15px;
    }

    .content-bottom > .product-type {
        font-size: 10px;
        line-height: 12px;
    }
    
    .product-hearth > img{
        width: 14px;
        height: 12px;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-bottom, .footer-top-left {
        display: none;
    }

    .footer-top-right {
        text-align: center;
    }
    
}
